<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/default">
<head>
<meta charset="UTF-8">
<title>Hello Dojo</title>
</head>
<body>
	<th:block data-layout-fragment="content">
		<h1 id="greeting">Hello</h1>
	</th:block>
	
	<th:block data-layout-fragment="content-js">
		<script>
			require([
		        '/js/demo/myModule.js'
		    ], function (myModule) {
		        myModule.setText('greeting', 'Hello Dojo!');
		
		        setTimeout(function () {
		            myModule.restoreText('greeting');
		        }, 3000);
		    });
		</script>
	</th:block>
</body>
</html>