<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title data-layout-title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Dojo Example</title>
<!--
	You don't need to put the layout:fragment/data-layout-fragment attribute into the <head> section
	- the decoration process will automatically copy the <head> section of your content templates into your layout page.
-->
<!-- <th:block data-layout-fragment="content-css"></th:block> -->
</head>
<body>
	<th:block data-layout-fragment="content">
		<h1 id="greeting">Hello</h1>
	</th:block>
	<!-- load Dojo -->
	<script data-th-src="@{/webjars/dojo/dojo.js}" src="/webjars/dojo/dojo.js" data-dojo-config="async: true"></script>
	<th:block data-layout-fragment="content-js"></th:block>	
</body>
</html>